@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
